.home_header {
    width: 100%;
    height: 600px;
  
    background: linear-gradient(180deg, #FFFFFF 41.67%, #FCFFFF 100%);
    display:flex;
    justify-content: center;
    align-items: center;
    grid-template-columns: 50% 50%;	
  }
  
  .header_info_box {
    display:flex;
    flex-direction: column;
    height:230px;
    height: 80%;
    margin:0;
    align-items: flex-start;
    justify-content: flex-start;
  }
  
  .h1 {
    width: 420px;
    height: 52px;
  
    font-family: 'Libre Baskerville';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 0px;
    margin:0;
    color: #000000;  
    text-align: left;
  }
  
  .h2 {
    margin:0;
    font-weight: 400;
    font-size: 32px;
    line-height: 40px;
    font-family: 'Libre Baskerville';
    font-style: normal;
    font-weight: 400;
    margin-top:0px;
  
    line-height: 0px;
    height:32px;
    
    color: #000000;  
  }
  
  .span {
    background: linear-gradient(232.56deg, #16ABFF 44.11%, #16C7FF 54.37%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;  
  }
  
  .p {
    margin-top:15px;
    height:150px;
    width: 342px;
    height: 50px;
    color:black;
    font-family: 'Libre Baskerville';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
  
  
  }
  .content_box {
    margin-top:0px;
    width:65%;
  max-width: 1400px;
    
    display:grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 50% 50%;	
  }
.skills_header{
  font-family: 'Libre Baskerville';
  color:black;
}
  .icon_array{
    display:flex;
    width:75%;
    margin-top: 15px;
    gap:15px;
  }
  .left_items {
    display:flex;
  width:100%;
  
  display:flex;
  flex-direction: column;
  justify-content: center;
 
  }
  .right_items {
    display:flex;
    width:100%;
    height: 100%;
    transition: var(--main-transition);
    justify-content: flex-end;
    /* margin-left: 75px; */
    padding-bottom: 75px;

  }
  
  .right_items:hover{
    opacity:.5;
  }
  .line_div {
    width: 270px;
  height: .2px;
  
  margin-top: 15px;
  background-color:#000000;
  }
  .right_items_content_bg{
  
  

  
  }
  
  .right_items_content{
   
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    

    cursor:pointer;
    transition: all .4s;
    opacity:1;
  
  }
  .texts_box{
    display: flex;
    /* align-self: center; */
    width: 355px;
    justify-content: center;
    align-items: center;
    justify-content: center;
    justify-self: center;
    height: 73px;
    flex-direction: column;
    z-index: 2;
  }
  .right_items_content h1{
    margin:0px;
    display:block;
    font-size:20px;
    font-family: 'Italianno';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 45px;
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #000000;
  
  
  }
  .right_items_content h2{
    display:block;
    font-size:20px;
    margin-bottom:15px;
    font-family: 'Libre Baskerville';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 40px;
    /* identical to box height */
    
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #000000;
    margin-bottom:325px;
    
    
  
  
  }
  .image_styling_container {
    display:block;
    position:absolute;
    width:325px;
    width:355px;
    
  }
  .right_items_main_image_container{
  
    width: 169px;
    height: 155px;
  border:2px solid red;
  position:relative;
  right:45%;
  top:120px;
  }
  .right_items_main_image_container img{
    object-fit: cover;
    width: 169px;
    height: 155px;
    position:relative;
    z-index: 5;
   
    box-shadow: 0px 0px 0px 35px rgb(255, 255, 255);
    border-radius: var(--main-border-radius);
  
  }
  
  
  .right_items_accent_image_container{
    width: 374px;
    height: 307px;
    object-fit: cover;
    border-radius: var(--main-border-radius);
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

    }

    .right_items_accent_image_container .cover_icon{
      opacity: 1;

    }

    .right_items_accent_image_container:hover .cover_icon{
      opacity: 1;
    }

    .right_items_accent_image_container img{
      object-fit: cover;
      width: 374px;
      height:307px;
      border-radius: var(--main-border-radius);
      
    }
    
  
  .button_array {
    display:flex;
    width: 350px;
    height:120px;
    justify-content: flex-start;
    align-items:center;
    gap:12px;
  }
  

  
  .right_slider_selectors{
  position:absolute;
  margin-top: -55px;
  right:35px;
  display: flex;
  flex-direction: column;
  gap:35px;
  }

  .right_slider_selectors button{
  width: 4px;
  height: 75px;
  
  background: #AEAEAE;
  border: 0px solid white;
  border-radius: 18.4848px;
  transform: matrix(-1, 0, 0, 1, 0, 0);
padding:0px;
cursor:pointer;
}
.right_items_content:hover{
  opacity: .5;
}
.cover_item{
 

  display: grid;
  align-items: center;
  justify-content: center;
  background: white;
  position: absolute;
  width:inherit;
  height: inherit;
  z-index: 120;
  border-radius: 8px ;
  opacity: 0;
  cursor:pointer;
  transition: all .4s ease;
}

.cover_item:hover{
  opacity: .5;
}

.cover_icon{
  position: absolute;
  width: 50px;
  height: 50px;
  z-index: 15;
  color: #000000;
}
  @media only screen and (max-width: 1024px){
  
    .container{
      width:100%;
      display:flex;
      flex-direction:column;
    }
    .right_items{
      display:none;
    }
    .header_info_box{
      
      align-items: center;
      justify-content: center;
      text-align: center;
    }
    .header_info_box * { 

      align-items: center;
      justify-content: center;
      text-align: center;
    }
    .subheading_right{
      display:none;
    }
  
    .subheading_left{
      width:100%;
    }
    .subheading_container{
      display:flex;
      justify-content:center;
      align-items: center;
    }
   
    .right_slider_selectors{
      display:none;
      }


  }


  @media only screen and (max-width: 1433px){
    .container{
      width:100%;
      display:flex;
      flex-direction:column;
    }
    .right_items{
      display:none;
    }
    .header_info_box{
      
      align-items: center;
      justify-content: center;
      text-align: center;
    }
    .header_info_box * { 

      align-items: center;
      justify-content: center;
      text-align: center;
    }
    .subheading_right{
      display:none;
    }
  
    .subheading_left{
      width:100%;
    }
    .subheading_container{
      display:flex;
      justify-content:center;
      align-items: center;
    }
   
    .right_slider_selectors{
      display:none;
      }
    .content_box {
      display:grid;
      justify-content: center;
      align-items: center;
      grid-template-columns: 100%;
    }

    .home_header {
      padding-top:60px;

    }


  }

  @media only screen and (max-width: 480px){


    .home_header {
      padding-top:60px;

    }

  }