.theme_button_2_bg {
    cursor:pointer;
    transition: all .4s ease;
    display:flex;
    align-items:center;
    justify-content:center;
    width: 93px;
height: 33px;

background: linear-gradient(180deg, var(--button-color-1) 0%, var(--button-color-2) 85.42%, var(--button-color-3) 88.02%);
border-radius: 5px;

color:white;
border:0px;
font-family: 'Libre Baskerville';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 15px;
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;

}

.theme_button_2_bg:hover{
    transition: all .4s ease;
    --button-color-1:grey;
    --button-color-2:grey;
}