


.portfolio_card_container{
    width: 360.24px;
    height: 464.34px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:15px;
  

}

.portfolio_image_container{
    width: 360.24px;
    height:auto;
    max-height: 404.07px;
    overflow: hidden;
    box-shadow: -21.4449px 21.4449px 50.038px 7.14829px rgba(82, 138, 221, 0.15);
border-radius: 11.4373px;
    
}
.portfolio_image_container > *{
    width:100%;
    height:auto;
    transition: all .4s ease;
    cursor: pointer;
}
.portfolio_card_container:hover .portfolio_image_container{
    background: linear-gradient(180deg, rgba(0, 148, 255, 0.65) 0%, rgba(0, 14, 62, 0.35) 100%);
}
.portfolio_card_container:hover .portfolio_image_container > *{
   opacity: .2;
   transform: scale(1.02);
   
}


