.portfolio_header {
    width: 100%;
    height: 559px;
  
    background: linear-gradient(180deg, #FFFFFF 41.67%, #FCFFFF 100%);
    display:flex;
    justify-content: center;
    align-items: center;
  }
  
  .portfolio_header_info_box {
    display:flex;
    flex-direction: column;
    height:230px;
    height: 80%;
    width:100%;
    margin:0;
    align-items: center;
    justify-content: center;
  }
  
  .h1 {
    width: 420px;
    height: 52px;
  
    font-family: 'Libre Baskerville';
    font-style: normal;
    font-weight: 400;
    font-size: 53.52px;
   
    margin:0;
    color: #000000;  
    text-align: center;
  }
  
  .h2 {
    margin:0;
    font-weight: 400;
    font-size: 35.68px;
    line-height: 40px;
    font-family: 'Libre Baskerville';
    font-style: normal;
    font-weight: 400;
    margin-top:20px;
  

    height:32px;
    
    color: #000000;  
  }
  
  .span {
    background: linear-gradient(232.56deg, #16ABFF 44.11%, #16C7FF 54.37%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;  
  }
  
  .p {
    margin-top:35px;
    height:150px;
    width: 342px;
    height: 50px;
    
    font-family: 'Libre Baskerville';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    color: #4C6371;
  
  }
  .content_box {
    margin-top:0px;
    width:100%;
    display:flex;
    
  }

  .tabs_array{
    display:flex;
    width:95%;
    justify-content: center;
    align-items: center;
    gap:15px;
  }
  .left_items {
    display:flex;
  width:100%;
  
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  }
  .right_items {
    display:flex;
    width:100%;
  
  
  }
  
  
  .line_div {
    width: 270px;
 padding: .2px;
  
  margin:5%;
  background-color:#000000;
  }
  
  
  .right_items_content{
  
    width:100%;
    height:100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   margin-top:-75px;
   margin-left:35%;
  
  
  }
  
  .right_items_content h1{
    margin:0px;
    display:block;
    font-size:20px;
    font-family: 'Italianno';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 45px;
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #000000;
  
  
  }
  .right_items_content h2{
    display:block;
    font-size:20px;
    margin-bottom:15px;
    font-family: 'Libre Baskerville';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 40px;
    /* identical to box height */
    
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #000000;
    margin-bottom:225px;
    
    
  
  
  }
  .image_styling_container {
    display:block;
    position:absolute;
    width:25%;
  }
  .right_items_main_image_container{
  
    width: 169px;
    height: 155px;
  
  position:relative;
  right:45%;
  top:120px;
  }
  .right_items_main_image_container img{
    object-fit: cover;
    width: 169px;
    height: 155px;
    
   
    box-shadow: 0px 0px 0px 35px rgb(255, 255, 255);
    border-radius: 35px;
  
  }
  
  
  .right_items_accent_image_container{
    width: 374px;
    height: 307px;
    object-fit: cover;
    border-radius: 35px;
    }
    .right_items_accent_image_container img{
      object-fit: cover;
      width:100%;
      border-radius: 35px;
      
    }
    
  
  .button_array {
    display:flex;
    width: 350px;
    height:120px;
    justify-content: center;
    align-items:center;
    gap:12px;
  }



  @media only screen and (max-width: 1024px){
  
    .container{
      width:100%;
      display:flex;
      flex-direction:column;
      background: white;
    }
    .right_items{
      display:none;
    }
    .portfolio_header_info_box{
      
      align-items: center;
      justify-content: center;
      text-align: center;
    }
    .portfolio_header_info_box * { 

      align-items: center;
      justify-content: center;
      text-align: center;
    }
    .subheading_right{
      display:none;
    }
  
    .subheading_left{
      width:100%;
    }
    .subheading_container{
      display:flex;
      justify-content:center;
      align-items: center;
    }
  
  }


  @media only screen and (max-width: 480px){

    .portfolio_header{
      height:650px;
    }

    .h2 {

      margin-top:10px;
 
    }
    .left_items {
      height:100%;
    }
    .portfolio_header_info_box{

  

    }
  
  }