.nav_parent{
  display:flex;
  justify-content:center;
  align-items:center;
  width:100%;
  background: white;
}



.nav_bar {
    height:60px;
    width:100%;
    display:flex;
    justify-content:center;
    align-items:center;
    
  }
  
  .nav_content {
    height:60px;
    width:75%;
    display:flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .nav_content .logo_letter {
   font-family: 'Luxurious Script';
   width:100px;
   max-width: 420px;
  height: 58px;
  
  font-family: 'Luxurious Script';
  font-style: normal;
  font-weight: 400;
  font-size: 58px;

  margin-top:35px;
  cursor:pointer;
  /* identical to box height */
  
  
  background: linear-gradient(180deg, #0997FF 0%, rgba(9, 255, 240, 0) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent; 
  }