



@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Literata:opsz@7..72&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Luxurious+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Italianno&display=swap');
@font-face {
  font-family: 'Libre Baskerville';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Libre Baskerville'), url(/fonts/LibreBaskerville-Regular.ttf) format('ttf');
}


html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    overflow-x: hidden;
    background:white;
}

.body{
  background: white;
}
::-webkit-scrollbar {
  width: 10px;
  padding:25px;

}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 



}
 
/* Handle */
::-webkit-scrollbar-thumb {

    border-radius: 10px;
    border:1px solid #555;
    background: #555;

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;

}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
   
  }
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

:root {

--light-text-color:white;
--light-accent-text-color: black;






  --max-button-width: 93px;
  --button-width: 97.0480104615px;

  --projects-tab-width: 179.44px;
 --projects-tab-height: 35.33px;

 --max-portfolio-button-width:179.44px;

 --front-max-button-width: 93px;
 --front-button-width: 97.0480104615px;
 --front-projects-tab-width: 179.44px;
 --front-projects-tab-height: 35.33px;

 --button-color-1: #0094FF;
 --button-color-2: #11A0FF;
 --button-color-3: #7CD0FF;


}
@media only screen and (max-width: 1024px){
:root{
  --projects-tab-width: 175px;
  --max-portfolio-button-width:170.44px;

}
}




@media only screen and (max-width: 480px){

  :root{
    --projects-tab-width: 135px;
    --max-portfolio-button-width:170.44px;
  
  }
  
}
